.paginationContainer {
  display: flex;
}
.paginationPage {
  margin-right: 5px;
  border: 1px solid #9d9d9d;
  outline: none;
  color: #9d9d9d;
  padding: 5px 12px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  font-size: 0.7rem;
}
.paginationPage:hover {
  border: 1px solid #ffb290;
  color: #ffb290;
}
.paginationPage a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  text-align: center;
  outline: none;
}
.paginationBreak {
  margin: 0 5px;
  cursor: pointer;
}
.paginationBreak a {
  outline: none;
}
.paginationPrevious,
.paginationNext {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9d9d9d;
  outline: none;
  padding: 5px;
  color: #9d9d9d;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  font-size: 0.8rem;
}
.paginationPrevious:hover,
.paginationNext:hover {
  border: 1px solid #ffb290;
  color: #ffb290;
}
.paginationPrevious a,
.paginationNext a {
  padding: 6px 8px;
  outline: none;
}
.paginationPrevious {
  margin-right: 10px;
}
.paginationNext {
  margin-left: 10px;
}
li.paginationActive {
  border: 1px solid #FF742B;
  color: #FF742B;
  padding: 5px;
  font-weight: bold;
}
ul.paginationContainer {
  list-style-type: none;
}
.paginationContainer li {
  padding: 0 10px;
  cursor: pointer;
}
